body{
    background-image: url(../CSS/Ejercicio3/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo{
    font-family: cursive;
    color: #259FD1;
    text-align: center;
}

.btn{
    color: pink;
    background-color: #2549D1;
    margin-left: 40rem;
}



